################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LearnDSA/.vs/LearnDSA
/LearnDSA/bin/Debug/net9.0
/LearnDSA/obj
/.vs
/LearnDSA/.vs/ProjectEvaluation/learndsa.metadata.v9.bin
/LearnDSA/.vs/ProjectEvaluation/learndsa.projects.v9.bin
/LearnDSA/.vs/ProjectEvaluation/learndsa.strings.v9.bin
